---
const { title } = Astro.props;
---

<section class="flex flex-col gap-2 md:gap-3">
  <h3 class="font-manrope text-orange-9 text-2xl font-semibold md:text-3xl">
    {title}
  </h3>
  <slot />
</section>
