---
const { title, paragraphs } = Astro.props;
---

<section class="flex flex-col gap-2 md:gap-3">
  <h3 class="font-manrope font-semibold text-2xl text-orange-9 md:text-3xl">
    {title}
  </h3>
  <article class="flex flex-col gap-5">
    {
      paragraphs.map((paragraph: string) => (
        <p class="font-light md:text-xl">{paragraph}</p>
      ))
    }
  </article>
</section>
