@import "tailwindcss";

@theme {
  --font-manrope: "Manrope Variable", sans-serif;
  --font-sora: "Sora Variable", sans-serif;

  --color-orange-1: #fefcfb;
  --color-orange-2: #fff7ed;
  --color-orange-9: #f76b15;

  --color-blue-3: #e6f4fe;
}
