@import "tailwindcss";

vercel-analytics {
  display: none;
}

@theme {
  --color-orange-1: #fefcfb;
  --color-orange-3: #ffefd6;
  --color-orange-9: #f1871d;
  --color-blue-2: #e6f4fe;

  --font-sora: "Sora Variable", sans-serif;
  --font-manrope: "Manrope Variable", sans-serif;
}
