---
import Layout from "@/layout/Layout.astro";

import { LinkBreak2Icon } from "@radix-ui/react-icons";
---

<Layout>
  <main
    class="flex flex-col grow items-center justify-center gap-8 pt-[76px] md:pt-[100px]"
  >
    <section
      class="flex flex-col gap-8 items-center lg:flex-row-reverse lg:gap-20"
    >
      <LinkBreak2Icon className="text-orange-9 h-20 w-20" />
      <article class="flex flex-col gap-8 items-center">
        <section class="flex flex-col gap-4 items-center">
          <h2 class="font-manrope font-bold text-2xl">Algo salió mal.</h2>
          <p class="text-center font-light">
            Parece que la pagina no existe o ha sido movida.
          </p>
        </section>
        <a href="/" class="flex py-2 px-4 bg-orange-9 text-orange-1 rounded-lg"
          >Volver al inicio</a
        >
      </article>
    </section>
  </main>
</Layout>
