---
import Layout from "@/layout/Layout.astro";
import { Image } from "astro:assets";

import profilePicture from "@/assets/images/ProfilePicture.webp";
import universityPicture from "@/assets/images/universityPicture.webp";

import Chip from "@/components/Ui/Chip.astro";
---

<Layout>
  <main class="flex h-full w-full grow flex-col gap-8 pt-19 md:gap-10 md:pt-25">
    <section
      class="flex flex-col items-center gap-6 md:flex-row-reverse md:items-start"
    >
      <Image
        src={profilePicture}
        alt="Imagen de Jair Ochoa"
        class="rounded-2xl md:max-w-72 lg:max-w-96"
      />
      <section class="flex flex-col gap-8">
        <h1
          class="font-manrope text-orange-9 text-center text-4xl font-bold md:text-start lg:text-5xl"
        >
          Jair Ochoa
        </h1>
        <aside class="flex flex-col gap-4 font-light md:text-xl">
          <p>
            Hola, ¡Mucho gusto! Mi nombre es Jair Ochoa, diseñador y
            desarrollador graduado en Diseño Interactivo de la universidad Jorge
            Tadeo Lozano.
          </p>
          <p>
            Me especializo en planificar, diseñar y ejecutar proyectos de
            desarrollo web y móvil que resuelven problemáticas específicas. Mi
            enfoque se centra en entender las necesidades de las personas y,
            mediante diversas metodologías, generar soluciones funcionales que
            conecten con ellas.
          </p>
        </aside>
      </section>
    </section>
    <section class="flex flex-col gap-4">
      <h2
        class="text-orange-9 font-manrope text-2xl font-bold md:text-3xl lg:text-4xl"
      >
        Educación
      </h2>
      <aside class="flex flex-col gap-4 md:flex-row md:gap-6">
        <section class="md:w2/4 flex flex-col gap-4">
          <Image
            src={universityPicture}
            alt="juan"
            class="h-auto w-full max-w-2xl rounded-2xl"
          />
          <Chip text={"Plaza principal"} />
        </section>
        <section class="flex flex-col gap-2 md:pt-8">
          <h2 class="font-manrope text-2xl font-bold md:text-3xl">
            Universidad Jorge Tadeo Lozano.
          </h2>
          <p class="font-medium md:text-lg">Facultad de Artes y diseño.</p>
          <p class="font-light md:text-lg">Diseñador Interactivo.</p>
        </section>
      </aside>
    </section>
  </main>
</Layout>
