---
import Layout from "@/layout/Layout.astro";

import ProjectCard from "@/components/Projects/ProjectCard.astro";
import CloudSun from "@/assetsProjects/weather-app/svg/cloud-sun.svg";
---

<Layout>
  <main class="flex flex-col w-full gap-8 pt-19 grow md:gap-10 md:pt-25">
    <section class="flex flex-col gap-6 w-full md:gap-8">
      <h1 class="text-2xl font-light md:text-[40px]">
        ¡Hola, soy <span class="font-manrope font-bold text-orange-9"
          >Jair Ochoa</span
        >!
      </h1>
      <p class="font-light md:text-2xl">
        Diseñador y desarrollador web enfocado en crear soluciones digitales
        efectivas, centradas en la experiencia del usuario.
      </p>
      <aside class="flex gap-2 font-light md:text-2xl">
        <p>Actualmente:</p>
        <section class="flex gap-2">
          <span class="font-medium text-orange-9">Freelance</span>
        </section>
      </aside>
    </section>
    <section class="grid gap-8 md:grid-cols-2 md:gap-8 lg:grid-cols-3">
      <ProjectCard
        url="weatherApp"
        bg1="#FEFCE9"
        bg2="#E6F4FE"
        title="Weather App"
        year="2026"
        description="Aplicación del clima abierta, gratuita y disponible para todas las plataformas."
      >
        <CloudSun class="h-25 text-[#113264]" />
      </ProjectCard>
    </section>
  </main>
</Layout>
