---
import LinkedInIcon from "../assets/svg/linkedin.svg";
import GitHubIcon_black from "../assets/svg/github_light.svg";
import GitHubIcon_white from "../assets/svg/github_dark.svg";
import TwitterIcon_black from "../assets/svg/x.svg";
import TwitterIcon_white from "../assets/svg/x_dark.svg";

const currentYear = new Date().getFullYear();
---

<footer class="flex flex-col gap-4 w-full">
  <p class="font-medium text-center md:text-start md:text-xl">
    ¿Te gusta lo que ves? Hablemos.
  </p>
  <section class="flex w-full justify-center gap-2 md:justify-start md:gap-4">
    <a
      href="https://www.linkedin.com/in/jair-ochoa"
      target="_blank"
      class="flex justify-center items-center h-11 w-11"
      aria-label="LinkedIn"
    >
      <LinkedInIcon class="h-5 w-5 md:h-6 md:w-6 lg:h-7 lg:w-7" />
    </a>
    <a
      href="https://x.com/sikzyo"
      target="_blank"
      class="flex justify-center items-center h-11 w-11"
      aria-label="Twitter"
    >
      <TwitterIcon_black class="h-5 w-5 md:h-6 md:w-6 lg:h-7 lg:w-7" />
    </a>
    <a
      href="https://www.linkedin.com/in/jair-ochoa"
      target="_blank"
      class="flex justify-center items-center h-11 w-11"
      aria-label="GitHub"
    >
      <GitHubIcon_black class="h-5 w-5 md:h-6 md:w-6 lg:h-7 lg:w-7" />
    </a>
  </section>
  <section class="flex justify-between font-light text-sm md:text-lg">
    <small>@Sikzyo {currentYear}</small>
    <small>Hecho con 🧡</small>
    <small>Bogotá, Colombia</small>
  </section>
</footer>
