---
import "@/styles/global.css";
import "@fontsource-variable/sora";
import "@fontsource-variable/manrope";

import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Sikzyo</title>
    <meta
      name="description"
      content="Portafolio de Jair Ochoa, diseñador interactivo"
    />
    <ClientRouter />
  </head>
  <body
    class="flex flex-col p-6 bg-linear-to-b from-orange-1 from-50% to-blue-2 bg-fixed gap-8 font-sora items-center md:p-8 md:gap-10"
  >
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100dvh;
    overscroll-behavior: none;
  }
</style>
